.menu{
    background-color: lightblue;
    width: 30%; 
    display:inline-block;
}

.content{
    background-color: lightsalmon;
    width: 60%; 
    display:inline-block;
}

.main_content_card{
    margin-top: 51px;
    padding: 10px;
}