<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header"> 
            <a href="#" class="navbar-brand">{{ 'APP_TITLE' | translate }}</a>
        </div>
        <button style="float: right; margin-top:10px;" class="btn btn-info" ng-click="$ctrl.changeLanguage()">{{ 'BUTTON_CHANGE_LANGUAGE' | translate }}</button>
    </div>
</nav>

<div class="main_content_card">
    <div class="row">
        <div class="col-md-2" ng-style="$ctrl.sideMenuStyle">
            <div class="list-group" ng-repeat="menu in $ctrl.sideMenus" ng-click="$ctrl.goToState(menu.state)">
                <div class="list-group-item" ng-class="{active : $ctrl.activeMenu === menu.label.toLowerCase()}" translate>{{menu.translate_key}}</div>
            </div>
        </div>
        <div class="col-md-10">
            <ui-view></ui-view>
        </div>
    </div>
</div>